files:
    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            n = 1
            while (( n = 1 ))
            do
              curl localhost/xcoin
              sleep 3
            done
            exit 0

commands:
    myscript:
        command: "sudo /usr/local/bin/myscript.sh"
