files:
    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            while (( 1 = 1 ))
            do
              curl localhost/xcoin
              sleep 3
            done
            exit 0

commands:
    myscript:
        command: "/usr/local/bin/myscript.sh"
    
